extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="../stylesheets/index.css")
  link(rel="stylesheet" href="../public/stylesheets/nav.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  div
    nav(id="nav_bar")
      div(id="navbar_links" class="inactive")
        a(href="http://") Questions
        a(href="http://") Tags
        a(href="http://") Profile
      div
        a(href="/") Stack oil Flow
        a(href="/about" id="navbar_about") About
      input(type="text" placeholder="Search..." id="navbar_search")
      div(class="nav_forms")
        a(href="/users/login" class="" id="login-nav") Log in
        a(href="/users/new" class="" id="signup-nav") Sign up
