extends  layout

form(action="/users/login" method="post")
    label(for="email") Email
    input(type="email" name="email")
    label(for="password") Password
    input(type="password" )
    button(type="submit") Submit
