extends index

block content
        if errors
            ul.error_list
                each err in errors
                    li=err
        div.form_container
            form(method="post" action="/users/new" class= "signup")
                input(type="hidden", name="_csrf", value= csrfToken)
                div
                label(for="user_name") User Name
                input(type="text", name="user_name", value="", class="signup_input")
                div
                label(for="email") Email
                input(type="email", name="email", value="", class="signup_input")
                div
                label(for="first_name") First Name
                input(type="text", name="first_name", value="", class="signup_input")
                div
                label(for="last_name") Last Name
                input(type="text", name="last_name", value="", class="signup_input")
                div
                label(for="password") Password
                input(type="password", name="password", value="", class="signup_input")
                div
                label(for="check_password") Confirm Password
                input(type="password", name="check_password", value="", class="signup_input")
                div
                button(type="submit" class="signup_btn") Sign Up
