extends index

block content
        div.header_div
            h2#questions_title All Questions
            a(href="/questions/ask" class="blue_btn") Ask Question
        if questionsArr
        div(id="question-container")
            each question in questionsArr
                div.question_div
                    div.stats
                        div.votes_div
                            p=question.votes
                            p votes
                        div.answers_div
                            p=question.answers.length
                            p answers
                    div.content_div
                        a(href=`/questions/${question.id}` id='quest_title')=question.title
                        p=question.body.substring(0, 300) + '...'