extends index

block content
    div.main_bar
        div.header_div
            h2 All Questions
            a(href="/users/new" id="signup-nav") Sign up
        each question in questions
            div.question_div
                a(href=`/questions/${question.id}`)=question.question_title
                p=question.question_body
