h1 {
    color: #555555;
}

.error_list > li {
    background-color:#ec0d0d71;
    border:1px solid rgb(179, 179, 179);
    max-width: 500px;
    padding:5px;
    margin:10px 0px 10px 15em;
    list-style-type: none;
    border-radius: 4px;
    color:white;

}

.form_container{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.form_container a {
    color: #0077CC;
}

.signup{
    margin-top: 50px;
    display:flex;
    flex-direction:column;
	width: 300px;
	padding:20px;
    border:1px solid lightgrey;
    border-radius: 8px;
    box-shadow:  0 20px 48px rgb(0 0 0 / 15%)
}

.signup label{
	display: block;
	margin: 10px 0 0 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.signup_input{

	display: block;
	margin: 10px 0 0 0;
    border: 1px solid rgb(187, 187, 187);
    padding: 8px;
    border-radius: 4px;
}

.signup_btn{
    background-color: #2ca2f7;
    color: white;
    border-radius: 4px;
    padding: .5em;
    margin-top: 45px;
    margin-left: 30px;
    width: 200px;
    border: 1px solid lightgrey;
    transition: background-color;
}

.signup_btn:hover{
    background-color:#066bb3;
}

.img-container {
    background-image: url('../images/background.PNG');
    background-size: 100%;
    margin-top: 60px;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.not-found {
    display: flexbox;
    /* align-items: center;
    justify-content: center; */
}
