h1 {
  color: #555555;
}
.error_list > li {
  background-color: #ec0d0d71;
  border: 1px solid rgb(179, 179, 179);
  max-width: 500px;
  padding: 5px;
  margin: 10px 0px 10px 15em;
  list-style-type: none;
  border-radius: 4px;
  color: white;
}
.form_container {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}
.form_container a {
  color: #0077cc;
}
.signup {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 0 20px 48px rgb(0 0 0 / 15%);
}
.signup label {
  display: block;
  margin: 10px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.signup_input {
  display: block;
  margin: 10px 0 0 0;
  border: 1px solid rgb(187, 187, 187);
  padding: 8px;
  border-radius: 4px;
}
.signup_btn {
  background-color: #2ca2f7;
  color: white;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 45px;
  margin-left: 30px;
  width: 200px;
  border: 1px solid lightgrey;
  transition: background-color;
}
.signup_btn:hover {
  background-color: #066bb3;
  transition: background 0.1s ease-in-out;
}
.main-grid-container {
  display: grid;
  grid-template-areas: "ls main rs";
  grid-template-columns: 3.3% 93.4% 3.3%;
  grid-template-rows: auto;
}
.main-content {
  margin-top: 95px;
  background-color: #34383b;
  background-image: linear-gradient(#25282a, #44494e);
  grid-area: main;
  width: 100%;
  height: 626px;
  border-radius: 10px;
}
.bubbles {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.beige,
.blue {
  width: 444px;
  height: 250px;
  z-index: 1;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.beige {
  background-color: #fee3cf;
}
.blue {
  background-color: #cfeafe;
}
.beige-txt,
.blue-txt {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 24.7px;
  font-size: 17.5px;
  margin-bottom: 17px;
  color: #242729;
  width: 350px;
  height: 48px;
  text-align: center;
}
.loupe-img,
.padlock-img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  justify-content: center;
}
.home-links,
.home-links2 {
  border: 1px solid rgb(187, 187, 187);
  padding: 15px;
  border-radius: 4px;
  color: white;
  width: 210px;
  height: 45px;
  text-align: center;
  font-size: 15px;
  font-family: Source Sans Pro, sans-serif;
}
.home-links {
  background-color: #f2720c;
}
.home-links:hover {
  background-color: #da670b;
  transition: background 0.1s ease-in-out;
}
.home-links2 {
  background-color: #2ca2f7;
}
.home-links2:hover {
  background-color: #0077cc;
  transition: background 0.1s ease-in-out;
}
.top-left,
.top-right {
  z-index: -1;
  width: 66px;
  border-radius: 13%;
}
.top-left {
  grid-area: ls;
  background-color: #0054a3;
  margin-left: 16px;
  padding-top: 20px;
  margin-top: 40px;
  height: 65px;
}
.top-right {
  grid-area: main;
  background-color: #6cbbf7;
  margin-left: 85.5%;
  height: 105px;
}
.mid-right {
  width: 128px;
  height: 128px;
  grid-area: main;
  margin-left: 94%;
  margin-top: 36%;
}
.mid-right1 {
  border-radius: 13% 13% 0 13%;
}
.mid-right2 {
  margin-left: 65px;
  border-radius: 0 13% 13% 13%;
  opacity: 0.25;
}
.mid-right1,
.mid-right2 {
  background-color: #f2720c;
  width: 65px;
  height: 62px;
}
.mid-left {
  width: 66px;
  height: 66px;
  grid-area: main;
  margin-left: 78px;
  margin-top: 12%;
  /* #ffcc01 */
}
.mid-left1,
.mid-left2 {
  width: 33px;
  height: 33px;
  background-color: #ffcc01;
}
.mid-left1 {
  border-radius: 13% 13% 0 13%;
}
.mid-left2 {
  margin-left: 33px;
  border-radius: 0 13% 13% 13%;
  opacity: 0.25;
}
.left-grn {
  width: 66px;
  height: 66px;
  grid-area: ls;
  margin-top: 513px;
  margin-left: -16px;
}
.left-grn1 {
  border-radius: 13% 13% 0 13%;
}
.left-grn2 {
  margin-left: 33px;
  border-radius: 0 13% 13% 13%;
  opacity: 0.25;
}
.left-grn1,
.left-grn2 {
  width: 33px;
  height: 33px;
  background-color: #48a868;
}
.fake-text-l,
.fake-text-r {
  background-image: url("https://cdn.sstatic.net/Img/home/illo-code.svg?v=b7ee00fff9d8");
  grid-area: main;
  background-repeat: no-repeat;
  background-size: 184px;
}
.fake-text-l {
  margin-top: 24%;
  margin-left: 7.5%;
}
.fake-text-r {
  margin-left: 78%;
  margin-top: 7%;
}
.block-letters {
  width: 55%;
  margin-left: 25.5%;
  color: white;
  margin-top: 20px;
}
.orange-letters {
  color: #f2720c;
}
.block-letters,
.orange-letters {
  grid-area: main;
  font-family: "Roboto Slab Bold", serif;
  font-size: 63px;
  font-weight: 700;
  margin-top: 35%;
  text-align: center;
}
.right-blu {
  width: 36px;
  height: 36px;
  grid-area: main;
  margin-left: 91.9%;
  margin-top: 7.9%;
}
.right-blu1,
.right-blu2 {
  width: 18px;
  height: 18px;
  background-color: #27348b;
}
.right-blu2 {
  opacity: 0.25;
  margin-left: 18px;
}

.not-found {
  display: flexbox;
}

@media screen and (max-width: 1182px) {
  .bubbles {
    flex-direction: column;
    margin-left: 15%;
  }
  .beige,
  .blue {
    width: 300px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .block-letters {
    margin-left: 55%;
    width: 200px;
    margin-top: 25%;
  }
  .orange-letters {
    margin: 0;
  }
  .block-letters,
  .orange-letters {
    display: flex;
    flex-direction: column;
    font-size: 45px;
  }
  .beige-txt,
  .blue-txt {
    width: 290px;
  }
  .home-links, .home-links2 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 805px) {
  .block-letters {
    opacity: 0;
  }
}
