#nav_bar {
    background-color: #fafafb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 0px;
    border-top: 3px solid #F78222;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
}

#logo_letters {
    margin-left: 30px;
    background-image: url('../images/3oillogo.jpeg');
}

#navbar_about {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 12px;
    color: rgb(110, 109, 109);
}

#navbar_homepage {
    font-weight: 1000;
}

#navbar_search {
    background-image: url('../images/loupe.png');
    background-color: blue;
    background-size: 17px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 7px;
    height: 35.2px;
    background-color: white;
    padding: 7.8px 9.1px 7.8px 32px;
    width: 100%;
    margin: 0;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    font-family: inherit;
    max-width: 638px;
}

.nav_forms {
    margin-left: 30px;
    padding-right: 130px;
}

#login-nav {
    position: relative;
    border-radius: 3px;
    border: 1px solid ;
    display: inline-block;
    color: #39739D;
    font-size: 13px;
    background-color: #e1ecf4;
    padding: .8em;
    margin-right: 4px;
    height: 35.2px;
    justify-content: center;
}
#login-nav:hover {
    background-color: #c6dcec;
}

#signup-nav{
    font-size: 13px;
    position: relative;
    border-radius: 3px;
    border: 1px solid ;
    display: inline-block;
    color: white;
    background-color: #0095FF;
    padding: .8em;
    margin: 2px;
    height: 35.2px
}
#signup-nav:hover {
    background-color: #0576c7;
}
