#grid-container {
    display: grid;
    grid-template-areas:
    "sidebar title right"
    ". body .";
}

#q-answers {
    grid-area: main;
    /* background-color: red; */
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
}

#q-title {
    grid-area: title;
    color: #3c4146;
    display: flex;
    justify-content: center;
    line-height: 1.35;
    font-size: 2rem;
    border-bottom: 1px solid #e4e6e8;
}
#q-body {
     grid-area: body;
}
