
.main_bar{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header_div{
   display: flex;
   justify-content: space-between;
   border-bottom:1px solid lightgrey;
  padding-top: 80px;
  padding-left: 290px;
  padding-right: 290px;

}

.question_div{
    display : flex;
    border-bottom:1px solid lightgrey;
    padding-bottom: 30px;
}

.answers_div{
    text-align: center;
}

.votes_div{
    text-align: center;
}

.stats{
    display: flex;
    flex-direction: column;
    padding-left: 19%;
    padding-top: 20px;
}

.stats p{
font-size: 13px;
}

.content_div{
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    padding-top: 50px;
    padding-right: 19%;
    color: rgb(36, 39, 41);
    font-size: 13px;
}
.content_div p{
margin-left: 10px;
}

.content_div a{
 color: #0077CC;
 text-decoration: none;
 font-size: 17px;
}

#quest_title:hover{
    color: #0095FF
}



.blue_btn{
    color: white;
    background-color: #0095FF;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px;
    height: 36px;
    width: 100px;
    border: 1px solid #04365a;
    transition: background-color;
    text-align: center;
    font-size: 13px;
    margin: 2px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;

}

.blue_btn:hover{
    background-color:#066bb3;
}

#questions_title{
    font-size: 30px;

}
